/*

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap"); OLD

TO USE THE ABOVE FONT: font-family: "Kanit", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap"); TITLES
@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Cormorant:wght@300;400;700&display=swap"); TEXT

TO USE THE TWO FONTS:
font-family: 'Chonburi', serif;
font-family: 'Cormorant', serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

/*TO USE THE TWO FONTS:
font-family: 'Syncopate', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.sectionTitle {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  height: 320px;
  font-size: 180px;
  color: #6ac954;
}

.sectionTitleMedium {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  height: 320px;
  font-size: 120px;
  color: #6ac954;
}

.sectionTitleSmall {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  height: 320px;
  font-size: 70px;
  color: #6ac954;
}

/*------------------------------------------------------------NAV PROJECTS----------------------------------------------------*/
.projectsXl {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.projectsMd {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.projectsSm {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/*------------------------------------------------------------NAV SERVICES----------------------------------------------------*/
.servicesXl {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.servicesMd {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.servicesSm {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*------------------------------------------------------------NAV SKILLS----------------------------------------------------*/
.skillsXl {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.skillsMd {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.skillsSm {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*------------------------------------------------------------NAV CONTACT----------------------------------------------------*/
.contactXl {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.contactMd {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.contactSm {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/*------------------------------------------------------- NAVPROFILE ---------------------------------------------------------*/

/*https://www.youtube.com/watch?v=lRPguPbovro*/
#navProfile {
  --bg-image: url("./assets/bgHexagons.svg");
  --bg-image-opacity: 1;
  position: relative;
  isolation: isolate;
}

#navProfile::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  -webkit-mask-image: linear-gradient(to top, transparent 20%, black 55%);
  mask-image: linear-gradient(to top, transparent 10%, black 75%);
  background-size: cover;
  background-position: center;
}

/*------------------------------------------------------- NAVABAR ---------------------------------------------------------*/
nav {
  color: #013761;
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
}

.navbarSections {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
}

#logo {
  width: 300px;
  height: auto;
}

/*------------------------------------------------------- PROFILE ---------------------------------------------------------*/

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#myNameXl {
  animation-name: slideDown;
  animation-duration: 6s;
  animation-timing-function: ease;
}
#myNameMd {
  animation-name: slideDown;
  animation-duration: 6s;
  animation-timing-function: ease;
}
#myNameSm {
  animation-name: slideDown;
  animation-duration: 6s;
  animation-timing-function: ease;
}

#profile {
  color: rgb(13, 66, 76);
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  padding-top: 120px;
}

#profession h1 {
  font-size: 80px;
}

#profession h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 90px;
  font-size: 80px;
  animation-name: slideUp;
  animation-duration: 6s;
  animation-timing-function: ease;
}

#imageContainer {
  max-width: 90%;
}

#profileImage {
  width: 500px;
  height: auto;
  max-width: 90%;
}

#profession #myNameXl {
  z-index: 1;
}
#profession #myNameMd {
  z-index: 1;
  font-size: 80px;
}
#profession #myNameSm {
  z-index: 1;
  font-size: 60px;
}

#professionList {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
}

/*------------------------------------------------------- PROJECTS ---------------------------------------------------------*/

/*-------------------- PROJECT1 ------------------------*/
.project1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/ObservaSky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project1:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT2 ------------------------*/
.project2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/theNordicBarber.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project2:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT3 ------------------------*/
.project3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/netflixClone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project3:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT4 ------------------------*/
.project4 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/myWorkforce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project4:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT5 ------------------------*/
.project5 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/posteLente.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project5:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT6 ------------------------*/
.project6 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/taxCalculator.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project6:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT7 ------------------------*/
.project7 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/codeBuster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project7:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT8 ------------------------*/
.project8 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/spotifyClone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project8:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT9 ------------------------*/
.project9 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/quaLaZampa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project9:hover::before {
  opacity: 0;
}

/*-------------------- PROJECT10 ------------------------*/
.project10 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 380px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.project10::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/portfolio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1.6s ease;
  pointer-events: none;
}

.project10:hover::before {
  opacity: 0;
}

#imgContainer {
  width: 100%;
  height: 300px;
}

#imgContainer img {
  max-width: 100%;
  height: 300px;
}

.projectName {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
}

.projectDetails {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.projectButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.projectButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: rgb(5, 61, 51);
  transition: transform 0.3s ease;
}

/*------------------------------------------------------- SERVICES ---------------------------------------------------------*/

.servicesContainer {
  background-image: url("./assets/servicesBackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0;
}

#serviceCard h3 {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
}

#serviceCard h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.service {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  width: 400px;
  height: 500px;
}
/*------------------------------------------------------- SKILLS ---------------------------------------------------------*/

#skillsIcons i {
  font-size: 18em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

/*------------------------------------------------------- CONTACT ---------------------------------------------------------*/
footer {
  background-image: url("./assets/footerBackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0;
}

#contactFormContainer {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.73);
}

#infoContainer {
  height: 500px;
}

#infoTextContainer h1 {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
}

#infoTextContainer h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#footerEndContainer p {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
}

#logoContainerGithub img {
  width: 60px;
  height: auto;
}

#logoContainerLinkedin img {
  width: 80px;
  height: auto;
}

#submitButton {
  background-color: #33cc22;
  border: 2px solid rgb(228, 219, 36);
  color: #f6fff7;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  transition: border-radius 1s ease;
}

#submitButton:hover {
  background-color: rgb(228, 219, 36);
  border: 2px solid #33cc22;
  color: #010a02;
  border-radius: 4px;
}

.inputName {
  border: 2px solid rgb(50, 149, 10);
}

.inputEmail {
  border: 2px solid rgb(50, 149, 10);
}
.inputMessage {
  border: 2px solid rgb(50, 149, 10);
}
